<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Flare Predictor</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style type="text/css">

.main_body{
	margin-top: 10%;
	margin-left: 5%;
}

</style>
<body>
<div class="container main_body">
	<h3>Flare Prediction<sup> (Enter a link to Reddit post (preferably r/india) to predict a flare for it)</sup></h3>
	<div>
	  <form action="/index" method="POST">
	  	 <label>Enter Reddit Link</label>
    	<input type="text" class="form-control" name="text">
	    <br>
	    <input type="submit" value="Submit">
	  </form>
	  Predicted Flare : <mark>{{prediction}}</mark>
	</div>

</div>
</body>

</html>